.git
.github
.env
.env.*
!.env.example
.DS_Store
node_modules
vendor
public/build
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
npm-debug.log*
yarn-error.log*
